<div class="gd-editor--canvas-wrapper">
    <div class="gd-editor--canvas-background">
        <div class="gd-row">            
            <div class="gd-column-1"></div>
            <div class="gd-column-1"></div>
            <div class="gd-column-1"></div>
            <div class="gd-column-1"></div>
            <div class="gd-column-1"></div>
            <div class="gd-column-1"></div>
            <div class="gd-column-1"></div>
            <div class="gd-column-1"></div>
            <div class="gd-column-1"></div>
            <div class="gd-column-1"></div>
            <div class="gd-column-1"></div>
            <div class="gd-column-1"></div>
        </div>
    </div>
    <div id="gd-canvas--rows">
        <row ng-repeat="row in project.rows"></row>
    </div>
</div>