<div class="gd-column-1 gd-column--box">
    <div class="gd-column--resize-buttons">
        <a href="javascript:void(0)" class="gd-icon-btn btn-extend-column" ng-click="expandColumn()" title="Extend column">
            <span class="icon-arrow-right2"></span>
        </a>
        <a href="javascript:void(0)" class="gd-icon-btn btn-collapse-column" ng-click="collapseColumn()" title="Collapse column">
            <span class="icon-arrow-left2"></span>
        </a>
        <a href="javascript:void(0)" class="gd-icon-btn btn-add-offset" ng-click="addOffset()" title="Extend column">
            <span class="icon-last"></span>
        </a>
        <a href="javascript:void(0)" class="gd-icon-btn btn-remove-offset" ng-click="removeOffset()" title="Collapse column">
            <span class="icon-first"></span>
        </a>
    </div>
</div>
