<div class="gd-canvas--row">
    <div class="gd-canvas--row--tools">
        <!-- <a href="javascript:void(0)" class="gd-icon-btn" title="Move row up">
                                    <span class="icon-arrow-up2"></span>
                                </a>
                                <a href="javascript:void(0)" class="gd-icon-btn" title="Move row down">
                                    <span class="icon-arrow-down2"></span>
                                </a>
-->
        <a href="javascript:void(0)" class="gd-icon-btn" ng-click="addColumn()" title="Add column">
            <span class="icon-plus"></span>
        </a>
        <!-- <a href="javascript:void(0)" class="gd-icon-btn" title="Delete row">
                                    <span class="icon-trash"></span>
                                </a>
-->
    </div>
    <div class="gd-canvas--row--content gd-row">
        <column ng-repeat="column in row.columns"></column>
    </div>
</div>