<div class="gd-editor--toolbar">
    <div class="topcoat-button-bar">
        <div class="topcoat-button-bar__item" ng-repeat="breakpoint in project.preferences.breakpoints">
            <input type="radio" name="grid-size" ng-model="project.preferences.currentBreakpoint" id="grid-size-{{breakpoint.id}}" value="{{breakpoint.id}}">
            <label for="grid-size-{{breakpoint.id}}" class="topcoat-button-bar__button">{{breakpoint.label}}</label>
        </div>
    </div>
    <button class="topcoat-button--cta" ng-click="addRow_clickHandler()">Add row</button>
</div>