.gd-row {
    display: flex;
    flex-direction:row;
    flex-wrap:wrap;
    margin:0;
    padding:0;
    box-sizing:border-box;
}

.gd-column-1,
.gd-column-2,
.gd-column-3,
.gd-column-4,
.gd-column-5,
.gd-column-6,
.gd-column-7,
.gd-column-8,
.gd-column-9,
.gd-column-10,
.gd-column-11,
.gd-column-12,
.gd-offset-1,
.gd-offset-2,
.gd-offset-3,
.gd-offset-4,
.gd-offset-5,
.gd-offset-6,
.gd-offset-7,
.gd-offset-8,
.gd-offset-9,
.gd-offset-10,
.gd-offset-11,
.gd-offset-12 {
  box-sizing: border-box;
  padding: 0;
}
.gd-column-1 {
  flex: 0 0 8.333%;
}
.gd-column-2 {
  flex: 0 0 16.666%;
}
.gd-column-3 {
  flex: 0 0 25%;
}
.gd-column-4 {
  flex: 0 0 33.333%;
}
.gd-column-5 {
  flex: 0 0 41.666%;
}
.gd-column-6 {
  flex: 0 0 50%;
}
.gd-column-7 {
  flex: 0 0 58.333%;
}
.gd-column-8 {
  flex: 0 0 66.666%;
}
.gd-column-9 {
  flex: 0 0 75%;
}
.gd-column-10 {
  flex: 0 0 83.333%;
}
.gd-column-11 {
  flex: 0 0 91.666%;
}
.gd-column-12 {
  flex: 0 0 100%;
}
.gd-offset-1 {
  margin-left: 8.333%;
}
.gd-offset-2 {
  margin-left: 16.666%;
}
.gd-offset-3 {
  margin-left: 25%;
}
.gd-offset-4 {
  margin-left: 33.333%
}
.gd-offset-5 {
  margin-left: 41.666%;
}
.gd-offset-6 {
  margin-left: 50%;
}
.gd-offset-7 {
  margin-left: 58.333%;
}
.gd-offset-8 {
  margin-left: 66.666%;
}
.gd-offset-9 {
  margin-left: 75%;
}
.gd-offset-10 {
  margin-left: 83.333%;
}
.gd-offset-11 {
  margin-left: 91.666%;
}