html, body {
    margin:0;
    padding:0;
    height: 100%;
}
body {
    /*    font-family: source-code-pro, sans-serif;*/
    font-family: source-sans-pro, sans-serif;
    position: relative;
    font-size:1em;
    -webkit-font-smoothing: antialiased;
}
*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.gd-icon-btn {
    color: #555;
    font-size:1.3em;
    text-decoration:none;
}
.gd-icon-btn:active {
    color: #666;
}
.gd-icon-btn:hover {
    color: #666;
}
.gd-container {
    position:relative;
    width:100%;
    height:100%;
    display:flex;
    flex-flow:row;
    flex-wrap:nowrap;
}
.gd-editor {
    flex: 1 0 auto;
    display:flex;
    flex-flow:column;
    flex-wrap:nowrap;
}
.gd-vr {
    flex: 0 0 5px;
    background-color:#fff;
}
.gd-properties {
    flex: 0 0 300px;
    background-color:#464646;
    border-left:1px solid #383838;
}
.gd-panel-title {
    color: #FFFFFF;
    margin: 0.5rem;
    font-size: 0.9em;
}
.gd-editor--toolbar {
    flex: 0 0 40px;
    display:flex;
    flex-direction:row-reverse;
    flex-wrap:wrap;
    align-items: center;
    -webkit-box-shadow: 0px 2px 7px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow: 0px 2px 7px 0px rgba(50, 50, 50, 0.75);
    box-shadow: 0px 2px 7px 0px rgba(50, 50, 50, 0.75);
    z-index:1;
    padding-right:2.5rem;
}
.gd-editor--toolbar > * {
    margin-left:0.5rem;
}
.gd-editor--canvas-wrapper {
    position: relative;
    flex: 1 0 auto;
    /*    background-color: #262626;*/
    background:url(../images/bg-pattern.png) repeat;
}
.gd-editor--canvas-background {
    position:absolute;
    width:100%;
    height:100%;
    padding: 0 2.5rem;
}
.gd-editor--canvas-background .gd-row {
    width:100%;
    height:100%;
    -webkit-box-shadow: 0px 0px 20px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow: 0px 0px 20px 0px rgba(50, 50, 50, 0.75);
    box-shadow: 0px 0px 20px 0px rgba(50, 50, 50, 0.75);
}
.gd-editor--canvas-background .gd-column-1 {
    background-color:#dbdbdb;
}
.gd-editor--canvas-background .gd-column-1:not(:first-child) {
    border-left: #fff solid 1px;
}
.gd-canvas--row {
    position:relative;
    min-height:150px;
    width:100%;
    padding:0 2.5rem;
}
.gd-canvas--row--tools {
    position:absolute;
    overflow:hidden;
    height:100%;
    width:0;
    right:0.3rem;
    background-color:#E2E2E2;
    text-align:center;
    padding-top:0.5rem;
}
.gd-canvas--row--tools a {
    display:block;
}
.gd-canvas--row:hover .gd-canvas--row--tools {
    width:2.2rem;
}
.gd-canvas--row--content {
    position:static;
    min-height:150px;
    left: 2.5rem;
    right: 2.5rem;
    border: 2px dashed rgb(139, 145, 165);
}
.gd-canvas--row:not(:first-child) .gd-canvas--row--content {
    border-top:none;
}
.gd-column--box {
    position:relative;
    background-color:rgba(155, 155, 155, 0.5);
    min-height:150px;
}
.gd-column--box:not(:last-child) {
    border-right: #fff solid 1px;
}

.gd-column--resize-buttons {
    position:absolute;
    overflow:hidden;   
    top:0;
    left:0;
    width:0;
}

.gd-column--box:hover .gd-column--resize-buttons {
    width:1.5rem;
}

.gd-column--resize-buttons a {
    display:block;
}